<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] - %msg%n"/>
        </Console>
        <File name="File" fileName="deobfuscator.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File" level="debug"/>
            <AppenderRef ref="Console" level="info"/>
        </Root>
    </Loggers>
</Configuration>